body{
  margin: 5em;
}

header ul{  
  padding: 0;
  border-bottom: 1px solid #000;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style: none;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: 5px solid #000;
}

footer > p{
  margin: 0;
}

h1>span{
  display: block;
  color: grey;
  font-style: italic;
}

a{
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-size: 400%;
  border-bottom: 5px solid #000;
}